*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-log
{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url(a4.png);
    background-size: cover;
    height: 50px;
    width: 113px;
   
     
 }
.border:hover{
    border: 1.5px solid white;
   
}
.loc
{
    display: flex;
   
    
}

/* giving different font and color for 'india' and 'delivery to' */
.d1
{
    font-size: 12px;
    color: #cccccc;
    margin-left: 13px;
}

.i1{
    color: #ffffff;
}
/* setting the search box */
.nav-search{
    width: 451px;
    height: 40px;
    background-color: rgb(228, 149, 11);
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid  rgb(228, 149, 11);
}
.search{
    background-color: #f3f3f3;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
}
.search-input
{
    width: 100%;
    border: none;
}
.search-icon
{
    width: 45px;
    display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   color: #0f1111;
    
}
.flag{
    height: 21px;
    width: 16px;
    background-image: url(flag.png);
    background-size:cover;
}
/* setting country */
.country
{
    display: flex;
}
.flag-list{
    color: white;
    background-color: black;
    
}
/* setting accounts and list */
span{
    font-size: 0.85rem;
}
.account{
    -webkit-flow-into: 14px;
font-weight: 700px;
}

/* setting cart symbol */
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}
/* first panel has been finished */
.pannel{
    height: 40px;
   background-color: #212b34;
   display: flex;
   color: white;
   align-items: center;
   justify-content: space-evenly;
}
.pannel-options p{
    display: inline;
    margin-left: 10px;
}
.pannel-options{
    width: 90%;
    font-size: 0.85rem;
   
}
/* hero section */
.hero-section{
  
    background-image: url(border.png);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message
{
    height: 40px;
    width: 90%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
 .hero-message a {
    color: #007185;
 }

.box-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #141618;
   
}
.box{
   
   
    height: 250px;
    width: 23%;
padding: 20px 0px 15px ;
font-size: 10px;
margin-top: 1rem;
}

.box1-img{
    height: 70%;
    background-image: url(game.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box2-img{
    height: 70%;
    background-image: url(home2.png);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
  
}

.box3-img{
    height: 70%;
    background-image: url(fashion.png);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box4-img{
    height: 70%;
    background-image: url(kitchen.png);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box5-img{
    height: 70%;
    background-image: url(womens.png);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box6-img{
    height: 70%;
    background-image: url(mens.png);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box7-img{
    height: 70%;
    background-image: url(kids.png);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: rem;
}
.box8-img{
    height: 70%;
    background-image: url(beauty.png);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* 
footer style */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.panel2{
    background-color: #222f3d;
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin: 45px;
}
ul a{
    display: block;
    color: #dddddd;
    margin: 10px;
    font-size: 0.85rem;
    text-decoration: none;
}
.panel3{
    background-color: #222f3d;
    height: 70px;
    color: white;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(a4.png);
    background-size: cover;
    height: 50px;
    width: 113px;
}
.pannel4{
    background-color: #0f1111;
    color: white;
    display: flex;
    display: block;
    height: 80px;
    justify-content: center;
    align-items: center;

}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.pages a{
    color: white;
    text-decoration: none;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5px;
}
